<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" routerLink='/home'>
          <img src="https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg" 
          width="30" height="30" alt="" />
          MDB-Api
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/mostpopular">Más Populares</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/search">Buscar</a>
            </li>
          </ul>
          
        </div>
      </nav>